<div id="head-home" class="home">
  <div class="container header-container">
    <div class="text-header">
        <h1>DANIELLE ALVINO</h1>
        <hr>
        <ul class="list-inline">
          <li><h5 class="underline-magical">Full-Stack Ruby on Rails Developer</h5>
            <li><i class="fas fa-plus-circle"></i></li>
            <li><h5 class="underline-magical">Digital Marketing Specialist </h5></li>
          </ul>
      </div>
     <div class="center-btn">
       <a href="#aboutme">KNOW ME BETTER</a>
     </div>
    </div>
</div>

<div class="about-home">
    <div class="container about-container">
     <h2 id="aboutme">About</h2>
     <hr>
     <div class="row">
      <div class="col-lg-6 ml-auto">
          <p id="content-about"> I have a degree in advertising, yes. But my career with digital marketing led me to also have a background in technology. So, my original degree was not a problem for me.<br> I started my career working with social media channels, then I migrated to performance marketing/media buy/customer aqcuistion, worked in advertising agencies and also in startups. This is the point where I started to get closer to areas of product development and programming languages.<br> I'm a analytical and strategic professional and I have advanced knowledge of the main digital marketing tools, such as Google Analytics, Google Adwords, Google Tag Manager, DoubleClick for Publishers, Facebook Ads, Email Marketing Tools (Salesforce, Sendgrid and Mailchimp).</p>
        </div>

        <div class="col-lg-6 ml-auto">
          <p id="content-about"> My professional passions began to shift from marketing to programming. I got to the point that I had to admit: I have a new love and it's called programming. I decided to quit my last job as a Digital Marketing Specialist and entered the Le Wagon bootcamp.<br> It was 9 weeks and more than 360 hours coding, where I learned Ruby on Rails, database & SQL, HTML, CSS, JavaScript, jQuery, Bootstrap, Heroku, git and GitHub.<br> Designed, implementend and shipped to production two projects in Ruby on Rails. </p>
        </div>
      </div>

      <h2 id="skills">Skills</h2>
     <hr>

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-12 text-center">
        <div class="icons">
        <i class="devicon-html5-plain-wordmark"></i>
            <i class="devicon-css3-plain-wordmark"></i>
            <i class="devicon-bootstrap-plain-wordmark"></i>
            <i class="devicon-javascript-plain"></i>
            <i class="devicon-jquery-plain-wordmark"></i>
            <i class="devicon-ruby-plain-wordmark"></i>
            <i class="devicon-rails-plain-wordmark"></i>
            <i class="devicon-mysql-plain-wordmark"></i>
            <i class="devicon-postgresql-plain-wordmark"></i>
            <i class="devicon-git-plain-wordmark"></i>
          </div>
          </div>
      </div>
    </div>
</div>



    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="bitmap">Path</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <h4>Social
                    <br>Media
                    <br>Analyst
                    </h4>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2011-2013</h4>
                    <h4 class="subheading">Ponto criativo & New Comunicação</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Responsible for the content production, strategy, actions and monitoring of social media for the clients in the agency.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Digital
                    <br>Marketing
                    <br>Analyist
                    </h4>
                  <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2013-2014</h4>
                    <h4 class="subheading">Pearson Education</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Marketing of the English platform online www.meuingles.com, elaborating product strategies directly with developers, product managers, customer service, to improve the product and acquire new subscribers.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <h4>Digital
                    <br>Media
                    <br>Analyist
                    </h4>
                  <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2014-2015</h4>
                    <h4 class="subheading">Binder</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Worked with online advertising, facebook ads, google adwords, youtube, digital influencers, linkedin ads from big clients like, Senac Brasil, Record, Sesc, Technos...</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Digital
                    <br>Marketing
                    <br>Specialist
                    </h4>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2015 - 2017</h4>
                    <h4 class="subheading">Digital Marketing Specialist - Passei Direto</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Startup Passei Direto it's the Brazil's largest university study platform, with more than 9 million registered users. Here I had the opportunity to get to know and work a bit more with programming and database, although I did not have so much knowledge, it was where I had the closest proximity between product, marketing and development.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Fullstack
                    <br>Developer
                    <br>Ruby on Rails!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>



<div class="about-home">
    <div class="container about-container">
     <h2 id="projects">Projects</h2>
     <hr>
     <div class="row">
        <div class="col-lg-4 ml-auto">
          <div class="project-1">
            <%= link_to "http://www.babaconfia.com", target: :_blank do %>
             <%= image_tag "babaconfia3.png", width: 335, height: 500 %>
             <% end %>
          </div>
        </div>

          <div class="col-lg-8 ml-auto">
            <div class="content-project">
                <h2 id="babaconfia">Babáconfia.com</h2>
                <p>Hiring a babysitter is a chain of repetitive and boring tasks: launching X whatsapps chats in parallel to asks for references and check availability. Babáconfia offers families and BBysitters a great experience, from auto-booking of the most trusted available BBsytter (social graph) to payment. All functionalities have been implemented in the last two weeks of the Le Wagon Bootcamp. <br>Booking for the babysitting, check in and check out at the family house, reviews, payment, database. You can check for yourself, it's on! :)</p>
              <!-- </div> -->
            </div>
          </div>
      </div>
    </div>
</div>


<div class="about-home">
    <div class="container about-container">
     <div class="row">

          <div class="col-lg-8 ml-auto">
            <div class="content-project">
              <h2 id="archiplace">Archiplace</h2>
                <p>Imagine a place where you can find the best professionals to renovate your property. That was our idea of ​​MVP during Le Wagon, we developed from 0 a platform where the user can find professionals for refurbishment and also that these professionals get a job. From the database, professional access, normal user, usability, front end, back end, and the deploy to heroku. Oh, in just a week! ;)</p>
              <!-- </div> -->
            </div>
          </div>

          <div class="col-lg-4 ml-auto">
          <div class="project-1">
            <%= link_to "http://archiplace.herokuapp.com/", target: :_blank do %>
             <%= image_tag "archiplace.png", width: 335, height: 500 %>
             <% end %>
          </div>
        </div>
      </div>
    </div>
</div>


    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="bitmap">Let's talk!</h2>
            <hr>
          </div>

          <div class="col-lg-12 text-center">
            <div class="contact-text">
              <h5 id="contact">If you got here, you must have liked it, correct? <br>Call me or send me an email.
                If you also want to take a look at my GitHub and see the projects, take your time :)
              </h5>
            </div>
          </div>


          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>(21) 99190-1383</p>
          </div>

          <div class="col-lg-4 mr-auto text-center">
            <i class="far fa-envelope fa-3x"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">daniellealvino@hotmail.com</a>
            </p>
          </div>

          <div class="col-lg-4 ml-auto text-center">
            <i class="fab fa-github fa-3x"></i>
            <p>
            <a href="https://github.com/danialvino" display: none;>Danielle Alvino</a>
            </p>
          </div>
      </div>
    </div>

        <div class="icons-contact">
        </div>






